{% extends 'base.html' %}

{% block content %}

<div class="body1" style="background-color: cadetblue;">
        <h2 class="pt-5 pb-4" style="text-align:center; color: rgb(20, 20, 20); ">Math Exam Index</h2>
    <div class="my" style=" padding-left: 50px; width: 95%;">
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 1</b></button> </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 2</b></button>    </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 3</b></button>    </a>    
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 4</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 5</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 6</b></button>    </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 7</b></button>    </a>    
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 8</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 9</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 10</b></button>    </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 11</b></button>    </a>    
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 12</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 13</b></button>   </a>
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 14</b></button>    </a>    
        <a href="{% url 'mathexam1'%}">     <button type="button" class="list-group-item list-group-item-action"><b>Exam 15</b></button>   </a>
    </div>

</div>


{% endblock %}